# Tarea 1

Fecha de entrega: 
Miercoles 11 de marzo, 2025, 11.59pm

Comentarios generales:

- No olvidar que python usa el snake_case (o minúsculas separadas por subguión) para llamar a sus variables. 
- No nombrar variables con acentos porque algunas veces, dependiendo de la máquina en la que se corra, esto será aceptado o no. 
- Leer  claramente qué es lo que pide la pregunta.

Ejemplo:  Utilizando sólo los siguientes inputs numéricos: ```5``` y ```2```  , maneje los operadores tal que el output sea ```120```. Crea una variable con el resultado.

In [3]:
#Respuesta
output = (5*2)**2 + 5*2**2
output

120

1.  Utilizando sólo los siguientes inputs: ```5``` y ```2```  , maneje los operadores tal que el output sea ```50```

In [14]:
output_1= 5*(5*2)
output_1

50

2. Evalúa que el output del ejemplo sea mayor al output de 1. Crea una variable con esta evaluación (Hint: Será un booleano).

In [28]:
analysis_1= 120 > 1
analysis_1

True

3. Utilizando sólo los siguientes inputs: ```31``` maneja los operadores tal que el output sea ```0```

In [33]:
output_2= 31 - 31
output_2

0

4.  Utilizando sólo los siguientes inputs: ```2``` (todos los 2 que necesites) maneja los operadores tal que el output sea ```5```

In [39]:
output_3= 2+2+ int(2/2)
output_3

5

5. Crea una variable ```x``` y una variable ```y``` que sumen 1600. Crea una variable ```v``` que dé un booleano, tal que evalúe que ```x + y``` sea igual a 2000.

In [47]:
x=800
y=800
v= (x+y)==2000
print(v)

False

6. Cree una variable ```z``` y una variable ```a``` que sumen 1000.

In [49]:
z=a=500
c=z+a
print(c)

1000

7. Calcula cuántas horas trabajan en total los 130 congresistas de nuestro país en un año. Asume que trabajan 40 horas a la semana, por 48 semanas al año (considerando que tienen vacaciones y no trabajan sobretiempo).

In [53]:
congresistas_1=130
horasxsemana_1=40
semanas_año=48
horas_año=congresistas_1*horasxsemana_1*semanas_año
print(horas_año)

249600

8. Ahora calcula el salario de un congresista por hora. Los supuestos del anterior ejercicio se mantienen (Se puede pasar por alto las vacaciones). Cabe recordar que los congresistas ganan 15,600 soles mensuales.   
- Crea una variable para el salario por hora de un congresista.   
- Crea una variable para la suma de los salarios por hora de los 130 congresistas.

In [63]:
x=15600
y=40
z=4
c=x/(y*z)
d=130
e=d*c
print(int(e))

12675

9. Con la reducción del IGV para restaurantes y hoteles (https://emprender.sunat.gob.pe/tributando/temas-actualidad/reduccion-igv-para-restaurantes-hoteles), los restaurantes pagan el 10% de IGV. Un restaurante factura 3426 soles diarios, en promedio, después de impuestos. Calcule el valor base (el IGV es 10% sobre el valor base, ó 1 + .1).

Calcule, utilizando el valor base, cuánto es el descuento del IGV en soles (o el 8% de este valor base).

Cree una variable para cada uno de los siguientes:
- porcentaje de IGV 
- el total de facturación
- el monto del impuesto
- el valor base sin impuesto
- el descuento de IGV en soles. Puedes comprobar tu fórmula con cualquier recibo de pago que detalle el IGV.

10.  Cristina percibe el sueldo mínimo (1025 soles). Compruebe que el salario anual de Cristina es menor al salario anual de un congresista, usando operadores de comparación y una expresión que detalle el monto mensual y el número de meses trabajados de ambos. La comparación debe ser ser evaluada a un booleano

In [67]:
#usando los datos expresados en ejercicios anteriores
#asumimos supuesto anterior que trabajo 48 semanas al año y 40 horas semanales
cristina_mensual=1025
congresista_mensual=15600
meses_año=12
comparacion1= cristina_mensual*meses_año < congresista_mensual*meses_año
print(comparacion1)

True

11. Una conocida petrolera debe volver a compensar a  1023 familias que se dedican a la pesca por la contaminación causada en el mar donde pescan. El nuevo monto negociado es de 1200 millones de soles, sin embargo, una cláusula del contrato dice que el monto de compensación tiene que ser un número entero. ¿Cuántos soles adicionales se le  tiene  que agregar al monto negociado para que las familias reciban una cantidad entera,  asumiendo que para lograr este número entero, hay que elevar el monto total? (Pista: Acuérdate del  floor y el módulo).

In [81]:
monto_familias= 1200000000
numero_familias= 1023
y=monto_familias%numero_familias
z=monto_familias/numero_familias
x=numero_familias-y
print(x)

483

12. Crea una variable igual a una lista que contenga:
- un string,
- un booleano,
- dos valores numéricos (de cualquier tipo) y
- una lista de dos strings con el nombre de tus artistas musicales favoritos.

In [ ]:
list_1=['Pablo', 5<9, 10, 14, list_2=['SZA', 'D4vd']]

13. Tenemos la siguiente lista de cursos:

In [8]:
cursos = ["Historia", "Economia", "Antropologia", "RSP", "Derecho"]

Realiza las siguientes operaciones en bloques diferentes: 
- Calcula cuántos elementos tiene la lista.

In [85]:
cursos = ["Historia", "Economia", "Antropologia", "RSP", "Derecho"]
len(cursos)

5

13.1. Agrega tres cursos adicionales de 3 formas diferentes (uno por forma):
   - Suma (+) una lista que contenga un curso adicional. 
   - Usa el append. 
   - Usa el extend.

In [101]:
cursos = ["Historia", "Economia", "Antropologia", "RSP", "Derecho"]
list_1=['Matematica']
suma_1=cursos + list_1
print(suma_1)
suma_1.append('Psicologia')
print(suma_1)
suma_1.extend(['Fisica'])
print(suma_1)

['Historia', 'Economia', 'Antropologia', 'RSP', 'Derecho', 'Matematica']
['Historia', 'Economia', 'Antropologia', 'RSP', 'Derecho', 'Matematica', 'Psicologia']
['Historia', 'Economia', 'Antropologia', 'RSP', 'Derecho', 'Matematica', 'Psicologia', 'Fisica']

13.2. 
- Usa la indexación para señalar a _RSP_.

In [103]:
cursos = ["Historia", "Economia", "Antropologia", "RSP", "Derecho"]
print(cursos[3])

RSP

13.3.
- Remueve el curso que menos te guste de la lista.

In [107]:
cursos = ["Historia", "Economia", "Antropologia", "RSP", "Derecho"]
cursos.remove('Derecho')
print(cursos)

['Historia', 'Economia', 'Antropologia', 'RSP']

14
Tenemos los siguientes números: 30, 24, 54.2, 15.8, 145, 90, 100.
 - Crea una lista con ellos. 
 - Ordena la lista de menor a mayor.
 - Saca el promedio de los números de la lista.  
(Realiza cada uno en bloques separados).

In [ ]:
#creacion de lista
list_1=[30, 24, 54.2, 15.8, 145, 90, 100]

In [109]:
#ordenar lista de menor a mayor
list_1=[30, 24, 54.2, 15.8, 145, 90, 100]
list_1.sort()
print(list_1)

[15.8, 24, 30, 54.2, 90, 100, 145]

In [111]:
#promedio de numeros de lista
list_1=[30, 24, 54.2, 15.8, 145, 90, 100]
average=sum(list_1)/len(list_1)
print(average)

65.57142857142857

15.Utilizando un “if else” cree una estructura que evalúe “x” tal que:

Si x es múltiplo de 2 imprima “Es múltiplo de 2”.

Si x es múltiplo de 3 imprima “Es múltiplo de 3”

Si x es múltiplo de 2 y 3 imprima “Es múltiplo de 2 y 3”

Para otro caso, imprime “Otro caso”
Muestra un ejemplo con x = 6.

In [178]:
numero=6
if numero%2==0 and numero%3==0:
    print('Es multiplo de 2 y 3')
elif numero%2==0:
    print('Es multiplo de 2')
elif numero%3==0:
    print('Es multiplo de 3')
else:
    print('Es otro caso')

Es multiplo de 2 y 3

16.Crea una función llamada clasificar_edad() que reciba como parámetro la edad de una
persona. La función debe clasificar a la persona en una de las siguientes categorías:

"Niño" si la edad es menor de 12 años.

"Adolescente" si la edad está entre 12 y 17 años.

“Joven” si la edad está entre 18 y 24 años.

"Adulto" si la edad está entre 25 y 64 años.

"Adulto Mayor" si la edad es mayor o igual a 65 años.

La función debe devolver la categoría correspondiente. Prueba la función con las edades de
10, 19, 25 y 70.

In [242]:
def clasificar_edad(n):
    if n<12:
        resultado=print('Niño')
    elif 12<=n<=17:
        resultado=print('Adolescente')
    elif 18<=n<=24:
        resultado=print('Joven')
    elif 25<=n<=64:
        resultado=print('Adulto')
    elif n>=65:
        resultado=print('Adulto Mayor')
        return resultado
clasificar_edad(47)

Adulto

In [244]:
clasificar_edad(10)

Niño

In [246]:
clasificar_edad(19)

Joven

In [248]:
clasificar_edad(25)

Adulto

In [250]:
clasificar_edad(70)

Adulto Mayor